.idea/
.vscode/
build/
autom4te.cache
config.h.in
config.h
config.log
config.nice
config.status
configure~
configure
configure.ac
run-tests.php
include/
libtool
Makefile
Makefile.fragments
Makefile.objects
modules/
libext.*
ext.stub.php
.zig-cache/
wrapper.o
config.h.in~
wrapper.o
.DS_Store
